<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 타입 별칭 설정============================  -->
    <typeAliases>
        <typeAlias type="board.model.BoardVO" alias="Board"/>
        <typeAlias type="board.model.CategoryVO" alias="BCategory"/>
        <typeAlias type="user.model.UserVO" alias="user"/>
        <typeAlias type="point.model.ProductVO" alias="product"/>
        <typeAlias type="point.model.Product_CategoryVO" alias="PCategory" />
    </typeAliases>
    <!-- 데이터베이스 트랜잭션 관리자 설정=========== -->
    <environments default="production">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
                <property name="username" value="t4er" />
                <property name="password" value="t4er" />
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="JDBC" />
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/Tourdb" />
            </dataSource>
        </environment>
    </environments>
    <!-- 매퍼 정의================================ -->
    <mappers>
        <mapper resource="common/mapper/SampleMapper.xml"/>
        <mapper resource="common/mapper/TourMapper.xml"/>
        <mapper resource="common/mapper/ReviewMapper.xml"/>
        <mapper resource="common/mapper/UserMapper.xml"/>
        <mapper resource="common/mapper/BoardMapper.xml"/>
        <mapper resource="common/mapper/ProductMapper.xml"/>
    </mappers>
</configuration>
