@charset "UTF-8";
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}

#title {
	background-color: #C9C0B1;
}
#font1{
	font-family:'GmarketSansLight';
}
#font2{
	 font-family: 'MapoFlowerIsland';
}