<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.BoardMapper">
    <select id="totalCount" resultType="int">
		select count(*) cnt from board
	</select>
    <!-- 글작성 -->
    <insert id="insertBoard" parameterType="Board">
        <selectKey keyProperty="idx" resultType="int" order="BEFORE">
            select board_seq.nextval from dual
        </selectKey>
        insert into board(bnum,btitle,bcontent,bdate,bupload1,bupload2,bupload3,brecommend,idx,cg_num)
        values(#{idx},#{btitle},#{bcontent},sysdate,#{bupload1:VARCHAR},#{bupload2:VARCHAR},#{bupload3:VARCHAR},0,#{idx},0)
    </insert>

    <insert id="insertBoard2" parameterType="Board">
        <selectKey keyProperty="idx" resultType="int" order="BEFORE">
            select board_seq.nextval from dual
        </selectKey>
        insert into board(bnum,btitle,bcontent,bdate,bupload1,bupload2,bupload3,idx,cg_num)
        values(#{idx},#{btitle},#{bcontent},sysdate,#{bupload1:VARCHAR},#{bupload2:VARCHAR},#{bupload3:VARCHAR},0,#{cg_num})
    </insert>

    <!-- 글목록 -->
    <!-- <select id="getBoardList" resultType="Board">
      select * from board order by bnum desc
    </select> -->

    <select id="getBoardList" resultType="Board" parameterType="hashmap">
    select * from(
    select a.*,row_number() over(order by bnum desc) rn from board a  )
    where rn between #{start} and #{end} and cg_num in(0,1)
    </select>

    <select id="getBoardList2" resultType="Board" parameterType="hashmap">
    select * from(
    select a.*,
    row_number() over(order by bnum desc) rn from board a  )
    where rn between #{start} and #{end} and cg_num = 2
    </select>

    <!-- 글검색 -->
    <select id="getFindTotalCount" resultType="int" parameterType="map">
        select count(bnum) from board
        <include refid="findWhere"/>
    </select>

    <sql id="findWhere">
        <if test="findType!=0 and findKeyword !=''">
            <where>
                <if test="findType == 1"><!-- 글제목 -->
                    btitle like '%'||#{findKeyword}||'%'
                </if>
                <if test="findType == 2"><!-- 작성자 -->
                    idx like '%'||#{findKeyword}||'%'
                </if>
                <if test="findType == 3"><!-- 글내용 -->
                    bcontent like '%'||#{findKeyword}||'%'
                </if>
            </where>
        </if>
    </sql>

    <select id="getFindList" resultType="Board" parameterType="map">
        select * from(
        select a.*,row_number() over(order by bnum desc) rn from board a
        <include refid="findWhere"/>
        )
        where rn between #{start} and #{end}
    </select>

    <!-- 글상세 -->
    <select id="getBoard" resultType="Board" parameterType="String">
       select * from board where bnum=#{bnum}
    </select>

    <!-- 글조회수 -->
    <update id="updateReadnum" parameterType="String">
      update board set binquiry = binquiry+1 where bnum=#{bnum}
    </update>

    <!-- 글추천 -->

    <!-- [글 삭제] -->
    <delete id="deleteBoard" parameterType="string">
       delete from board where bnum=#{bnum}
    </delete>

    <!-- 글수정 -->
    <update id="editBoard" parameterType="Board">
      update board set btitle = #{btitle:VARCHAR},
      bcontent = #{bcontent:VARCHAR},
     bupload1 = #{bupload1:VARCHAR}, bupload2=#{bupload2:VARCHAR}, bupload3=#{bupload3:VARCHAR}
      where bnum=#{bnum}
   </update>

    <select id="getCategory" resultType="BCategory">
	    select * from board_category
	</select>

    <select id="selectByCategory" resultType="Board" parameterType="string">
	    select * from board where cg_num =#{value}
	</select>

    <!-- mypage -->
    <!-- 내정보에서 글 검색 -->
    <select id="selectMyWrite" parameterType="int" resultType="Board">
    	select * from board where idx=#{idx}
    </select>
</mapper>