<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.t4er.point.mapper.PointMapper">

	<!--[포인드 적립] 회원가입시 포인트 적립 -->
	<insert id="firstPoint" parameterType="int">
		insert into point values(point_seq.nextval,'100',sysdate,1000,1000,#{idx})
	</insert>

	<!--[포인트 조회] 마이페이지에서 내 포인트 조회 -->
	<select id="myTotalPoint" parameterType="int"
			resultType="String">
		select PTOTALPOINT from(select * from point order by pdate desc)where ROWNUM
		= 1 and idx=#{idx}
	</select>

	<!-- 글 작성시 포인트 부여 _ 자유 게시판 -->
	<select id="writePoint" parameterType="int" resultType="string">
		insert into point values(POINT_SEQ.nextval,'200',sysdate,100
		,(
		<include refid="totalP" />
		)+100,#{idx})
	</select>

	<!-- 글 작성시 포인트 부여 _ 여행지 추천 -->
	<select id="tourWritePoint" parameterType="int"
			resultType="string">
		insert into point values(POINT_SEQ.nextval,'200',sysdate,500
		,(
		<include refid="totalP" />
		)+500,#{idx})
	</select>

	<!--[포인트 조회] 내 포인트 전체 조회 -->
	<select id="mypoint_old" parameterType="int" resultType="Point">
		select * from point where idx=#{idx} order by pdate asc
	</select>

	<sql id="totalP">
		select PTOTALPOINT from(select * from point order by pdate desc)where ROWNUM
		= 1 and idx=#{idx}
	</sql>

	<!--[포인트 조회] 내 포인트 전체 조회 -->
	<select id="mypoint" parameterType="PointPaging"
			resultType="Point">
		select * from(
		select point.*, row_number() over(order by pdate desc) rn from point
		<include refid="whereIdx" />
		)<![CDATA[
	where rn > #{start} and rn < #{end}
	]]>
	</select>

	<sql id="whereIdx">
		<where>
			idx=#{idx}
		</where>
	</sql>

	<!-- 포인트 목록 전체 수 -->
	<select id = "myTotalCountPoint"  resultType="int" parameterType="PointPaging">
		select count(*) cnt from point <include refid="whereIdx" />
	</select>

</mapper>