<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.BoardMapper">

    <select id="totalCount" resultType="int">
		select count(*) cnt from board
	</select>

    <!-- 글작성 -->
    <insert id="insertBoard" parameterType="Board">
        <selectKey keyProperty="bnum" resultType="int" order="BEFORE">
            select board_seq.nextval from dual
        </selectKey>
        insert into board(bnum, btitle, bcontent, binquiry, bdate, bupload1, bupload2, bupload3, brecommend, idx, cg_num)
        values(#{bnum}, #{btitle}, #{bcontent}, 0, sysdate, #{bupload1:VARCHAR}, #{bupload2:VARCHAR}, #{bupload3:VARCHAR}, 0, 0, 0)
    </insert>

    <!-- 글목록 -->
    <select id="getBoardList" resultType="Board">
      select * from board order by bnum desc
   </select>

    <!-- 글검색 -->

    <!-- 글조회수 -->
    <update id="updateReadnum" parameterType="String">
      update board set binquiry = binquiry+1 where bnum=#{bnum}
   </update>

    <!-- 글상세 -->
    <select id="getBoard" resultType="Board" parameterType="String">
      select * from board where bnum=#{bnum} 
   </select>

    <!-- 글삭제 -->
    <delete id="deleteBoard" parameterType="string">
       delete from board where bnum=#{bnum}
    </delete>

    <!-- 글수정 -->

</mapper>