<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.ProductMapper">
	<select id="getProductTotalCount" resultType="int">
        select count(*) cnt from product
    </select>

	<select id="getProdList" resultType="product" parameterType="hashmap">
	  	select * from(
	select a.*,row_number() over(order by pnum desc) rn from product a  )
	where rn between #{start} and #{end}
	</select>

	<select id="getCategory" resultType="PCategory">
		select * from product_category order by 1 asc
	</select>

	<select id="selectByCategory" resultType="product" parameterType="string">
	    select * from product where cg_num =#{value}
	</select>

	<select id="selectByPnum" resultType="product" parameterType="string">
		select
		<include refid="product_column"/>
		from product where pnum=#{pnum}
	</select>

	<sql id="product_column">
	    pnum, pname, pcontent, price,
	    nvl(pimage, 'noimage.png') pimage,
	    nvl(pimage2, 'noimage.png') pimage2,
	    nvl(pimage3, 'noimage.png') pimage3,
	    cg_num
	</sql>

	<select id="getFindTotalCount" resultType="int">
		select count(pnum) from product
		<include refid="findWhere"/>
	</select>

	<sql id="findWhere">
		<if test="_parameter!=null">
			<where>
				pname like '%'||#{findKeyword}||'%'
			</where>
		</if>
	</sql>

	<select id="getFindList" resultType="product" parameterType="map">
		select * from(
		select a.*,row_number() over(order by pnum desc) rn from product a
		<include refid="findWhere"/>
		)
		where rn between #{start} and #{end}
	</select>

	<!-- 여기부터 admin입니다 -->
	<!-- 상품등록 -->
	<insert id="insertProduct" parameterType="product">
		<selectKey keyProperty="pnum" resultType="int" order="BEFORE">
			select product_seq.nextval from dual
		</selectKey>
		insert into product(pnum, pname, pcontent, price, pimage, pimage2, pimage3, cg_num)
		values(#{pnum}, #{pname}, #{pcontent},#{price}, #{pimage:VARCHAR}, #{pimage2:VARCHAR}, #{pimage3:VARCHAR}, 0)
	</insert>

</mapper>