<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.UserMapper">

   	<insert id="createUser" parameterType="user">
	insert into member(idx, id, pwd, email, name, tel, indate, point, stat)
	values(member_seq.nextval, #{id}, #{pwd}, #{email}, #{name}, #{tel}, sysdate, 1000,1)
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="int">
	select count(*) from member where id=#{id}
	</select>
	
	<select id="loginCheck" resultType="user" parameterType="hashmap">
	select * from member where id=#{id} and pwd=#{pwd}
	</select>

	<!-- 회원 상태 조회 -->
	<select id="checkState" resultType="String" parameterType="String">
      select stat from member where id=#{id}
   </select>

	<!-- admin -->
	<!--유저 총 카운트 -->
	<select id="totalCount" resultType="int">
		select count(*) cnt from member
	</select>

	<!-- 유저 리스트 -->
	<select id="getUserList" parameterType="hashmap" resultType="user">
		select * from( select a.*,row_number() over(order by idx desc) rn from member a )
		where rn between #{start} and #{end}
	</select>

	<!-- 유저 정보 삭제 -->
	<delete  id="deleteUser" parameterType="string">
		delete from member where idx=#{idx}
	</delete>

	<!-- 유저 정보 수정 --> <!-- 회원상태와 기타 추가 -->
	<update id="updateUser" parameterType="user" >
		update member set  pwd=#{pwd},
		email=#{email} , name=#{name}, tel=#{tel}, stat=#{stat}, point=#{point}
		where idx=#{idx}
	</update>

	<!-- 유저 정보 가져오기 -->
	<select id="getUser" resultType="user" parameterType="string">
		select * from member where idx=#{idx}
	</select>

	<!-- my mypage-->
	<!-- 마이페이지에서 내정보 불러올때 -->
	<select id="selectMy" resultType="user" parameterType="String">
	select * from member where idx=#{idx}
	</select>

	<!-- 내정보 수정에서 비밀번호 재확인 -->
	<select id="checkPwd" resultType="user" parameterType="String">
	select * from member where idx=#{idx}
	</select>

	<!-- 유저정보 업데이트 -->
	<update id="updateMyInfo" parameterType="user">
		update member set name = #{name}, pwd = #{pwd}, email = #{email}, tel = #{tel} where idx = #{idx}
	</update>
</mapper>