<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.UserMapper">

   	<insert id="createUser" parameterType="user">
	insert into member(idx,id,pwd,email,name,tel,indate,point,stat) 
	values(member_seq.nextval, #{id}, #{pwd}, #{email}, #{name}, #{tel}, sysdate, 1000,1)
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="int">
	select count(*) from member where id=#{id}
	</select>
	
	<select id="loginCheck" resultType="user" parameterType="hashmap">
	select * from member where id=#{id} and pwd=#{pwd}
	</select>
	
	
</mapper>